<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= image_tag @user.profile_image.variant(resize_to_limit: [100, 100]) if @user.profile_image.attached? %>
